* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  line-height: 1.6;
}

header {
  background: url("img/santachapa.png") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 60px 10%;
}

.sobre, .cardapio,.endereco, .pgto, .carrinho {
  background: #1a1a1a;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  color: #f5b301;
  font-size: 2.5rem;
}

.itens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background: #222;
  padding: 20px;
  border-radius: 8px;
}

.item h3 {
  margin-bottom: 10px;
}

.item span {
  display: block;
  margin-top: 10px;
  color: #f5b301;
  font-size: 1.2rem;
}
.mapa-container {
  position: relative;
  width: 100%;
  padding-top: 30.25%;
  border-radius: 12px;
  overflow: hidden;
}

.mapa-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

footer {
  background: #000;
  text-align: center;
  padding: 20px;
  color: #aaa;
}



.close {
  margin-top: 20px;
  background: #f5b301;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-wpp {
  position: fixed;
  bottom: 10px;
  right: 0px;
}

.btn-insta {
  position: fixed;
  bottom: 80px;
  right: 10px;
}

.btn-carrinho {
  position: fixed;
  top: 30px;
  right: 10px;
}

.btn-voltar {
  position: fixed;
  top: 30px;
  left: 20px;
}

.itens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background: #000;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
}

.item img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}

.item button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #d46e10;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.item button:hover {
  background: #a93226;
}

/* Toast */
.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background: #d46e10;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
}

.toast.show {
  opacity: 1;
}

.item-carrinho {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #000;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);
}

.item-carrinho img {
  width: 80px;
  border-radius: 8px;
}

.item-carrinho button {
  margin-left: auto;
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.total {
  margin-top: 20px;
  font-size: 18px;
  text-align: right;
}


/* ================= RESPONSIVIDADE ================= */

@media (max-width: 1024px) {
  h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 768px) {
  header {
    min-height: 100vh;
    background-size: contain;
    background-position: center;
  }


  section {
    padding: 40px 7%;
  }

  h2 {
    font-size: 1.9rem;
  }
}

@media (max-width: 480px) {
  .mapa-container {
    padding-top: 100%; /* 1:1 */
  }
}


@media (max-width: 480px) {
  .btn-wpp img {
    position: fixed;
    bottom: 5px;
    right: 0px;
    width: 46px;
  }

  .btn-insta img {
    position: fixed;
    bottom: 40px;
    right: 4px;
    width: 36px;
  }

  .btn-carrinho img {
    width: 36px;
  }

  .btn-voltar img {
    width: 42px;
  }
}