* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111;
  color: #fff;
  line-height: 1.6;
}

header {
  background: url("img/santachapa.png") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  padding: 60px 10%;
}

.sobre, .cardapio,.endereco, .pgto {
  background: #1a1a1a;
  margin-bottom: 20px;
  border-radius: 8px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  color: #f5b301;
  font-size: 2.5rem;
}

.itens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background: #222;
  padding: 20px;
  border-radius: 8px;
}

.item h3 {
  margin-bottom: 10px;
}

.item span {
  display: block;
  margin-top: 10px;
  color: #f5b301;
  font-size: 1.2rem;
}
.mapa iframe {
  width: 100%;
  height: 400px;
  border-radius: 12px;
}

footer {
  background: #000;
  text-align: center;
  padding: 20px;
  color: #aaa;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.close {
  margin-top: 20px;
  background: #f5b301;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-wpp {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* ================= RESPONSIVIDADE ================= */

@media (max-width: 1024px) {
  h2 {
    font-size: 2.1rem;
  }
}

@media (max-width: 768px) {
  header {
    min-height: 100vh;
    background-size: contain;
  }

  section {
    padding: 40px 6%;
  }

  h2 {
    font-size: 1.9rem;
  }
}

@media (max-width: 480px) {
  .mapa iframe {
    aspect-ratio: 1 / 1;
  }
}

@media (max-width: 480px) {
  header {
    min-height: 31vh;
  }

  h2 {
    font-size: 1.6rem;
  }

  .itens {
    grid-template-columns: 1fr;
  }
}
